*{
    margin:0;
    padding:0;
}

.dash-map{
    padding-top:30px;
    font-size:16px;
}

.dash-map small i{
    font-size:12px;
    margin: 0 10px;
}

.title{
    padding: 5px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
    color:#008ccb;
}

.title h4{
    font-size:35px;
    font-weight: 400;
}

#dashboard{
    padding: 20px 0;
}

.dash-navigation{
    width:80%;
    cursor: pointer;
    margin-bottom: 30px;
}

.dash-navigation ul{
    list-style: none;
    margin:0;
    border-top:1px solid #ccc;
}

.dash-navigation ul li{
    font-size: 15px;
    padding:20px 0;
    border-bottom: 1px solid #ccc;
}

.dash-navigation ul li i{
    font-size: 15px;
    float:right;
    color:#ccc;
}

.dash-navigation ul li:hover i{
    color:#000;
}
/*----------------------------
    Generic
-------------------------------*/

.dash-active{
    font-weight: bolder;
    color:#008ccb;
}
.dash-active .fa{
    color:#008ccb;
}


#dashboard-content p{
    line-height: 1.5;
}

#dashboard-content p a:hover{
    text-decoration: none;
}

/*------Cart----*/

.cart thead tr th{
    font-weight: bold;
    color:#008ccb;
}
.cart th{
    font-weight:400;
    font-size:15px;
}

.cart-body i,
.cart-body p{
    line-height: 100px;
}


.product-desc{
    display: table;
    height:100px;
}

.product-desc p{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.4;
}

.product-image{
    height:100px;
}

/* .product-image img{
    height:100%;
    width:100%;
    border-radius: 50%;
    object-fit: cover;
    margin-right:0;
    
} */

.product-quantity{
    height:30px;
    width:60px;
    text-align:center;
    border-radius: 20px;
    background:none;
    border:1px solid #ccc;
}

.status{
    color:red;
    font-weight: bold;
}

.ready{
    color:green;
}

/*-------------Payment Methods----------*/

.payment-content{
    background:#008ccb;
    width:100%;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:20px;
    border-top-right-radius: 20px;
}

.payment-content::before{
    position: absolute;
    content:'';
    background:#008ccb;
    height:70px;
    width:70px;
    border-radius: 50%;
    border:3px solid #fff;
    left:-40px;
}

.payment-content i{
    color:#fff;
    font-size: 25px;
    margin-right:10px;
}

.payment-content h5{
    color:#fff;
    text-transform: uppercase;
    font-size:22px;
    font-weight: 400;
}

/*-----Payment methods____Additional Details-----*/

.additional-info{
    height:150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background:#eee;
    padding:20px 50px;
    overflow:scroll;
    transition:all 0.5s ease-in-out;
}
.additional-info p{
    font-size:14px;
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.additional-info p span{
    font-weight: bold;
    color:#008ccb;
}


/*------------------Bank Details---------------*/
.info-title{
    display:flex;
    margin-top:-10px;
    justify-content: center;
}

.info-title h5{
    color:#008ccb;
    font-size:20px;
    margin-bottom:30px;
    padding-bottom:10px;
    position: relative;
}

.info-title h5::before{
    position: absolute;
    content:'';
    width: 100%;
    height:1px;
    background:lightblue;
    bottom:0;
    left:0;
}
.info-title h5::after{
    position: absolute;
    content:'';
    width: 10px;
    height:10px;
    border-radius: 45%;
    background:#008ccb;
    bottom:-5px;
    left:50%;
}

.bank-name{
    list-style:none;
}

.bank-name strong{
    color:#008ccb;
}

.bank-list{
    margin-bottom: 20px;
}

.bank-details{
    list-style: none;
}


/*----Account Details-----*/

.details-content-title{
    padding: 0 0 20px 0;
    margin-bottom:20px;
    padding-left: 15px;
    position: relative;
    z-index: -1;
}

.details-content-title h2{
    margin:0;
    display:inline-block;
    font-size:22px;
    font-weight: 400;
    color:#008ccb;
}

.details-content-title::before{
    position: absolute;
    content:'';
    width:96%;
    height:1px;
    left:10px;
    bottom:0;
    background:lightblue;
}

.details-content-title::after{
    position: absolute;
    content:'';
    width:10px;
    height:10px;
    left:0;
    bottom:-5px;
    border-radius: 50%;
    background:#008ccb;
}

.details-content input,
.details-content button{
    border-radius: 20px;
}

.details-content input{
    height: 45px;
}

.detail-submit{
    margin-left:15px;
    padding:10px 30px !important;
    border:1px solid #008ccb !important;
    color:#008ccb;
}

.detail-submit:hover{
    background:#008ccb;
    color:#eee !important;
}



.space{
    height:500px;
}

